{% extends "base_generic.html" %}

{% block content %}
    <h1>All Books Instances</h1>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ,Book Due on- ({{ bookinst.due_back }}) {% if user.is_staff %} ,Book borrowed by- {{ bookinst.borrower }}{% endif %}
         ,<a href="{% url 'book-instance-detail' bookinst.pk %}">Book Instance Details</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}